<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get In Touch</title>

    <link rel="icon" href="images/logo.png">
    <link rel="stylesheet" href="css/navigation.css"> 
    <link rel="stylesheet" href="css/form.css"> 
    <link rel="stylesheet" href="css/left_Page_Breathe.css"> 
</head>
<body>

    <nav>
        <ul>
            <li><a href="/"><img class="logo" src="images/logo.png" /></a></li>
            <li><a class="meet_mauri" href="/">Meet <span>Mauricia</span></a></li>
        </ul>
    </nav>

    <!-- Menu -->
    
    <div class="menu">
      <img src="images/menu.png">
    </div>

    <div id="page_design">
        <svg class="top_arc" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1331.809" height="1403.221" viewBox="0 0 1331.809 1403.221">
            <defs>
              <linearGradient id="linear-gradient" x1="0.815" y1="0.706" x2="0.555" y2="0.409" gradientUnits="objectBoundingBox">
                <stop offset="0" stop-color="#0335f4"/>
                <stop offset="1" stop-color="#00a8ff"/>
              </linearGradient>
            </defs>
            <path id="Path_27" data-name="Path 27" d="M108.566,16.631S85.473,520.965,368.6,785.692c89.67,83.845,211.043,143.725,374.271,154.9,674.495,46.2,125.659,236.535,125.659,236.535L0,1025.6,11.088,0Z" transform="translate(1331.809 1142.166) rotate(166)" opacity="0.9" fill="url(#linear-gradient)"/>
        </svg>
    

        <div class="left_page_design">
            <div class="box box_1"></div>
            <div class="box box_2"></div>
            <div class="box box_3"></div>
            <div class="transparent_box"></div>
    
            <img class="circle_grid_vertical" src="images/page_asthetic_vertical.png"></img>
            <img class="circle_grid_horizontal" src="images/page_asthetic_horizontal.png"></img>
        </div>
    </div>

    <div class="form">

        <svg class="triangle" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="192.962" height="184.279" viewBox="0 0 192.962 184.279">
            <defs>
              <linearGradient id="linear-gradient" x1="0.189" y1="0.111" x2="-0.232" y2="0.374" gradientUnits="objectBoundingBox">
                <stop offset="0" stop-color="#017dfe"/>
                <stop offset="1" stop-color="#0062c7"/>
              </linearGradient>
              <filter id="Polygon_2" x="0" y="0" width="192.962" height="184.279" filterUnits="userSpaceOnUse">
                <feOffset dx="2" dy="2" input="SourceAlpha"/>
                <feGaussianBlur stdDeviation="3" result="blur"/>
                <feFlood flood-opacity="0.161"/>
                <feComposite operator="in" in2="blur"/>
                <feComposite in="SourceGraphic"/>
              </filter>
            </defs>
            <g id="Group_72" data-name="Group 72" transform="translate(-332.46 -213.856)">
              <g transform="matrix(1, 0, 0, 1, 332.46, 213.86)" filter="url(#Polygon_2)">
                <g id="Polygon_2-2" data-name="Polygon 2" transform="translate(7 65.05) rotate(-25)" fill="url(#linear-gradient)">
                  <path d="M 102.7896041870117 118.9138946533203 L 34.57544708251953 118.9138946533203 C 31.00344848632812 118.9138946533203 27.53892517089844 117.9675445556641 24.55643272399902 116.1771469116211 C 21.73849487304688 114.4855270385742 19.36617088317871 112.0651779174805 17.69595718383789 109.1777420043945 C 16.02574157714844 106.2903289794922 15.11044883728027 103.0271606445312 15.04904842376709 99.74103546142578 C 14.98406410217285 96.26303863525391 15.89104843139648 92.78800201416016 17.67197227478027 89.69163513183594 L 51.77903366088867 30.3918514251709 C 53.5648193359375 27.28703689575195 56.12026596069336 24.75115966796875 59.16910934448242 23.05835914611816 C 62.04911041259766 21.45932960510254 65.33879089355469 20.61411285400391 68.68252563476562 20.61411285400391 C 72.0262451171875 20.61411285400391 75.31592559814453 21.45932960510254 78.1959228515625 23.05835914611816 C 81.24477386474609 24.75115966796875 83.80021667480469 27.28703689575195 85.58600616455078 30.3918514251709 L 119.6930923461914 89.69163513183594 C 121.4739990234375 92.78800201416016 122.3810043334961 96.26303863525391 122.3160018920898 99.74105072021484 C 122.2546005249023 103.0271606445312 121.3393096923828 106.2903289794922 119.6690979003906 109.1777572631836 C 117.9988784790039 112.0651779174805 115.6265563964844 114.4855270385742 112.8086166381836 116.1771469116211 C 109.8261260986328 117.9675445556641 106.3616027832031 118.9138946533203 102.7896041870117 118.9138946533203 Z" stroke="none"/>
                  <path d="M 68.68252563476562 21.11411285400391 C 65.42350769042969 21.11411285400391 62.21775817871094 21.93759155273438 59.41183471679688 23.49549865722656 C 56.44243621826172 25.14417266845703 53.95294189453125 27.61509704589844 52.21247863769531 30.64114379882812 L 18.10538482666016 89.94091796875 C 14.68397521972656 95.88949584960938 14.69271087646484 102.9872512817383 18.12876892089844 108.9274063110352 C 21.5648193359375 114.867546081543 27.71311187744141 118.4138946533203 34.57544708251953 118.4138946533203 L 102.7896041870117 118.4138946533203 C 109.6519393920898 118.4138946533203 115.8002319335938 114.867546081543 119.2362823486328 108.9274063110352 C 122.6723251342773 102.9872512817383 122.6810607910156 95.88949584960938 119.259651184082 89.94091796875 L 85.15257263183594 30.64114379882812 C 83.412109375 27.61509704589844 80.922607421875 25.14417266845703 77.95321655273438 23.49549865722656 C 75.14727783203125 21.93759155273438 71.9415283203125 21.11411285400391 68.68252563476562 21.11411285400391 M 68.68251800537109 20.11411285400391 C 75.42829895019531 20.11411285400391 82.17408752441406 23.45693206787109 86.01941680908203 30.14256286621094 L 120.1264953613281 89.44232940673828 C 127.7953414916992 102.7756500244141 118.1710205078125 119.4138946533203 102.7896041870117 119.4138946533203 L 34.57544708251953 119.4138946533203 C 19.19403076171875 119.4138946533203 9.569709777832031 102.7756500244141 17.23854064941406 89.44232940673828 L 51.34563446044922 30.14256286621094 C 55.19095611572266 23.45693206787109 61.93673706054688 20.11411285400391 68.68251800537109 20.11411285400391 Z" stroke="none" fill="#00ff6d"/>
                </g>
              </g>
              <g id="Polygon_3" data-name="Polygon 3" transform="translate(367.939 284.211) rotate(-25)" fill="#fff">
                <path d="M 64.1885986328125 89.20949554443359 L 27.82328987121582 89.20949554443359 C 24.83864974975586 89.20949554443359 22.04907989501953 88.46607971191406 19.53205871582031 86.99992370605469 C 17.18225860595703 85.63114929199219 15.18057918548584 83.66439056396484 13.74343967437744 81.31226348876953 C 12.30628967285156 78.96012878417969 11.46965980529785 76.28153991699219 11.32398986816406 73.56605529785156 C 11.16794967651367 70.65733337402344 11.77940940856934 67.83589172363281 13.14137935638428 65.18012237548828 L 31.32402992248535 29.72477149963379 C 32.78149795532227 26.88277244567871 34.96405792236328 24.55620193481445 37.63576889038086 22.99657249450684 C 40.14881134033203 21.52956199645996 43.04317092895508 20.75414276123047 46.00593948364258 20.75414276123047 C 48.96871948242188 20.75414276123047 51.86307907104492 21.52956199645996 54.37611770629883 22.99657249450684 C 57.04782104492188 24.55620193481445 59.23038101196289 26.88277244567871 60.68785095214844 29.72477149963379 L 78.87050628662109 65.18012237548828 C 80.23248291015625 67.83589172363281 80.84393310546875 70.65733337402344 80.68789672851562 73.56605529785156 C 80.54222869873047 76.28153991699219 79.70558929443359 78.96014404296875 78.26844024658203 81.31227111816406 C 76.831298828125 83.66439056396484 74.82962036132812 85.63114929199219 72.47982025146484 86.99992370605469 C 69.96280670166016 88.46607971191406 67.17324066162109 89.20949554443359 64.1885986328125 89.20949554443359 Z" stroke="none"/>
                <path d="M 46.00593948364258 21.25413513183594 C 43.13164901733398 21.25413513183594 40.3244514465332 22.0059814453125 37.8878288269043 23.42836761474609 C 35.29867172241211 24.93981170654297 33.18278503417969 27.19598388671875 31.76892852783203 29.95293426513672 L 13.58627319335938 65.40827941894531 C 12.26518249511719 67.98433685302734 11.67202758789062 70.71998596191406 11.82326507568359 73.53926086425781 C 11.96450805664062 76.17223358154297 12.77603149414062 78.76994323730469 14.17009735107422 81.05156707763672 C 15.56416320800781 83.33319091796875 17.50532531738281 85.24069213867188 19.78372955322266 86.56787109375 C 22.22334289550781 87.98894500732422 24.92823791503906 88.70948791503906 27.82329559326172 88.70948791503906 L 64.1885986328125 88.70948791503906 C 67.08364868164062 88.70948791503906 69.78854370117188 87.98894500732422 72.2281494140625 86.56787109375 C 74.50654602050781 85.24069976806641 76.44770812988281 83.33320617675781 77.84177398681641 81.05158233642578 C 79.23583984375 78.76997375488281 80.04736328125 76.17224884033203 80.18861389160156 73.53926849365234 C 80.33985137939453 70.72000122070312 79.74668121337891 67.98434448242188 78.42560577392578 65.40827941894531 L 60.24295043945312 29.95293426513672 C 58.82908248901367 27.19598388671875 56.71320724487305 24.93981170654297 54.12403869628906 23.42836761474609 C 51.68741607666016 22.0059814453125 48.88022994995117 21.25413513183594 46.00593948364258 21.25413513183594 M 46.00593948364258 20.25413513183594 C 51.98940277099609 20.25413513183594 57.97286605834961 23.3349609375 61.13275909423828 29.49661254882812 L 79.31541442871094 64.95195770263672 C 85.11688232421875 76.26457214355469 76.90206146240234 89.70948791503906 64.1885986328125 89.70948791503906 L 27.82329559326172 89.70948791503906 C 15.10982513427734 89.70948791503906 6.894981384277344 76.26457214355469 12.69646453857422 64.95195770263672 L 30.87911605834961 29.49661254882812 C 34.03901290893555 23.3349609375 40.02247619628906 20.25413513183594 46.00593948364258 20.25413513183594 Z" stroke="none" fill="#00ff6d"/>
              </g>
            </g>
          </svg>
          
        <div class="form_main_area">

            <form action="/contact" method="POST">

                <div class="main_inputs">
                    <input name="firstName" type="text" placeholder="First Name">
                    <input name="lastName" type="text" placeholder="Last Name">
                    <input name="email" type="text" placeholder="Email">
                    <input name="phone" type="text" placeholder="Phone">

                    <select required>
                        <option value="">Service</option>
                        <option value="car insurance">Car Insurance</option>
                        <option value="medical">Medical</option>
                        <option value="home_and_life">Home & Life</option>
                        <option value="pension">Pension</option>
                        <option value="other">Other</option>
                    </select>
                </div>

                <textarea></textarea>

                <button class="send">Send</button>
                
            </form>
        </div>

        <div class="form_contact_info">

          <div id="contact_info">

            <h1>Contact Information</h1>

            <h3># 19 Armonk Drive,<br> Homestead Gardens,<br> Santa Cruz</h3>
            <h3>1 (868) 766-7824</h3>
            <h3>magray@gmail.com</h3>

          </div>

          <svg class="big_shadow"xmlns="http://www.w3.org/2000/svg" width="138.316" height="197.507" viewBox="0 0 138.316 197.507">
            <path id="Path_32" data-name="Path 32" d="M4341-3980.1s-18.392-102.964,12.5-159.239,120.379-33.862,120.379-33.862v139.033s-2.208,22.069-35.311,29.793S4341-3980.1,4341-3980.1Z" transform="translate(-4335.567 4177.603)" fill="#0656c0" opacity="0.95"/>
          </svg>  


          <svg class="circle_shadow" xmlns="http://www.w3.org/2000/svg" width="47" height="47" viewBox="0 0 47 47">
              <path id="Path_33" data-name="Path 33" d="M23.5,0A23.5,23.5,0,1,1,0,23.5,23.5,23.5,0,0,1,23.5,0Z" fill="#014FB6" />
          </svg>

        </div>
    </div>
</body>
</html>