<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meet Mauricia</title>

    <link rel="icon" href="images/logo.png">
    <link rel="stylesheet" href="css/navigation.css">
    <link rel="stylesheet" href="css/index.css">

</head>
<body>
    <div class="container">

        <!-- Page Design -->

        <div class="page_design">
            <div><img class="arc arc_2" src="images/new_bottom_arc.png"/></div>
            <div><img class="arc top_arc" src="images/newest_top_arc.png" /></div>
        </div>

        <!-- Nav -->

        <nav>
            <ul>
                <li><a href="/"><img class="logo" src="images/logo.png" /></a></li>
                <li><a class="meet_mauri" href="/">Meet <span>Mauricia</span></a></li>
            </ul>
        </nav>

        <!-- Main Content -->

        <main>
            <div class="main_sec main_sec_1">
                <h1>Supernova <br> Financial Solutions</h1>

                <p>
                    My goals align with your financial needs. <br/>
                    I work with you to curate your most economical
                    life solutions.
                </p>
    
                <div class="mainButtonContainer">
                    <a href="/form">
                        <button class="CTA CTA_1" >
                            Get In Touch
                        </button>
                    </a>
                </div>
    
                <div class="socials">
                    <a href="" target="_blank"><img class="first_social" src="images/icons/icon-fb.png" /></a>
                    <a href="" target="_blank"><img src="images/icons/icon-instagram.png" /></a>
                    <a href="" target="_blank"><img src="images/icons/icon-whatsapp.png" /></a>
                </div>
            </div>
            
            <div class="main_sec main_sec_2">
                <div id="main_image_area">
                    <img class="Sharon" src="images/Sharon_Gray.png"/>
    
                    <a href="/services#section_2"><img class="icon car-icon" src="images/icons/new_icon-car.png"/> </a>
                    <a href="/services"><img class="icon home-icon" src="images/icons/new_icon-home.png"/> </a>
                    <a href="/services#section_3"><img class="icon medical-icon" src="images/icons/new_icon-medical.png"/> </a>
                    <a href="/services"><img class="icon person-icon" src="images/icons/new_icon-person.png"/> </a>
                </div>
            </div>
        </main>

        <!-- Main Image -->

        <!-- <div id="main_image_area">
            <img class="Sharon" src="images/Sharon_Gray.png"/>

            <a href="/services#section_2"><img class="icon car-icon" src="images/icons/new_icon-car.png"/> </a>
            <a href="/services"><img class="icon home-icon" src="images/icons/new_icon-home.png"/> </a>
            <a href="/services#section_3"><img class="icon medical-icon" src="images/icons/new_icon-medical.png"/> </a>
            <a href="/services"><img class="icon person-icon" src="images/icons/new_icon-person.png"/> </a>
        </div> -->

    </div>
</body>
</html>