<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>Services</title>

        <link rel="icon" href="images/logo.png">
        <link rel="stylesheet" href="css/navigation.css">
        <link rel="stylesheet" href="css/services.css">
        <link rel="stylesheet" href="css/left_Page_Breathe.css">

    </head>
    <body>

        <section id="section_1">

            <nav>
                <ul>
                    <li><a href="/"><img class="logo" src="images/logo.png" /></a></li>
                    <li><a class="meet_mauri" href="/">Meet <span>Mauricia</span></a></li>
                </ul>
            </nav>

            <main>
                <!-- <h1>Mauricia's Services</h1> -->

                <div class="insurance_box">

                    <a href="#section_2" class="slide_btn">
                        <div class="insurance_btn btn_1">
                            <img class="btn_image" src="images/icons/new_icon-car.png">
                            <h3>Car Insurance</h3>                
                        </div>
                    </a >

                    <a href="#section_3" class="slide_btn">
                        <div class="insurance_btn btn_2">
                            <img class="btn_image"src="images/icons/new_icon-medical.png">
                            <h3>Medical</h3>
                        </div>
                    </a >

                    <a href="#section_4" class="slide_btn">
                        <div class="insurance_btn btn_3">
                            <img class="btn_image"src="images/icons/new_icon-home.png">
                            <h3>Home & Life</h3>
                        </div>
                    </a >

                    <a href="#section_4" class="slide_btn">
                        <div class="insurance_btn btn_4">
                            <img class="btn_image" src="images/icons/new_icon-person.png">
                            <h3>Pension</h3>
                        </div>
                    </a >

                </div>
            </main>

            <div>
                <img class="main_image" src="images/family.png">
            </div>
            
            <svg class="top_arc" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1331.809" height="1403.221" viewBox="0 0 1331.809 1403.221">
                <defs>
                  <linearGradient id="linear-gradient" x1="0.815" y1="0.706" x2="0.555" y2="0.409" gradientUnits="objectBoundingBox">
                    <stop offset="0" stop-color="#0335f4"/>
                    <stop offset="1" stop-color="#00a8ff"/>
                  </linearGradient>
                </defs>
                <path id="Path_27" data-name="Path 27" d="M108.566,16.631S85.473,520.965,368.6,785.692c89.67,83.845,211.043,143.725,374.271,154.9,674.495,46.2,125.659,236.535,125.659,236.535L0,1025.6,11.088,0Z" transform="translate(1331.809 1142.166) rotate(166)" opacity="0.9" fill="url(#linear-gradient)"/>
            </svg>

            <div class="left_page_design">
                <div class="box box_1"></div>
                <div class="box box_2"></div>
                <div class="box box_3"></div>
                <div class="transparent_box"></div>

                <img class="circle_grid_vertical" src="images/page_asthetic_vertical.png"></img>
                <!-- <img class="circle_grid_horizontal" src="images/page_asthetic_horizontal.png"></img> -->
                <img class="circle_grid_horizontal" src="images/horizontal_grid.png"></img>
            </div>
        </section>

<!--Section 2-->

        <section id="section_2" >
            
            <div class="section_2_design">

                <img class="car_img_sec_2" src="images/mercedes.png">
                <img class="circular_home" src="images/circular_home.png">
                <img class="tree tree_one" src="images/tree.png">
                <img class="tree tree_two" src="images/tree.png">

                <!--SVG 1-->
                <svg class="x x_1_sec_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="58.561" height="58.561" viewBox="0 0 58.561 58.561">
                    <defs>
                    <linearGradient id="linear-gradient" x1="3.65" y1="0.5" x2="1.496" y2="0.93" gradientUnits="objectBoundingBox">
                        <stop offset="0" stop-color="#017dfe"/>
                        <stop offset="1" stop-color="#013f7f"/>
                    </linearGradient>
                    </defs>
                    <g id="Group_82" data-name="Group 82" transform="translate(-1608.758 529.912) rotate(-45)">
                    <rect id="Rectangle_33" data-name="Rectangle 33" width="8.282" height="74.536" transform="translate(1508.127 767)" fill="url(#linear-gradient)"/>
                    <rect id="Rectangle_34" data-name="Rectangle 34" width="8.282" height="74.536" transform="translate(1549.536 800.127) rotate(90)" fill="url(#linear-gradient)"/>
                    </g>
                </svg>

                <!--SVG 2-->
                <svg class="x x_2_sec_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="58.561" height="58.561" viewBox="0 0 58.561 58.561">
                    <defs>
                    <linearGradient id="linear-gradient" x1="3.65" y1="0.5" x2="1.496" y2="0.93" gradientUnits="objectBoundingBox">
                        <stop offset="0" stop-color="#017dfe"/>
                        <stop offset="1" stop-color="#013f7f"/>
                    </linearGradient>
                    </defs>
                    <g id="Group_82" data-name="Group 82" transform="translate(-1608.758 529.912) rotate(-45)">
                    <rect id="Rectangle_33" data-name="Rectangle 33" width="8.282" height="74.536" transform="translate(1508.127 767)" fill="url(#linear-gradient)"/>
                    <rect id="Rectangle_34" data-name="Rectangle 34" width="8.282" height="74.536" transform="translate(1549.536 800.127) rotate(90)" fill="url(#linear-gradient)"/>
                    </g>
                </svg>

            </div>

            <div class="mainContent_sec_2">
                <h2>Home & <br> Car Insurance</h2>

                <p>Lorem Ipsum is simply dummy text of the printing
                    and typesetting industry. Lorem Ipsum has been
                    the industry's standard dummy text ever since the
                    1500s. 
                    <br><br>
                    When an unknown printer took a galley of
                    type and scrambled it to make a type specimen
                    book. It has survived not only five centuries. 
                </p>

                <a class="car_CTA" href="#">Get A Quote</a>
            </div>
              
        </section>

            
    <!--Section 3-->

    <section id="section_3" >

        <div class="section_3_design">

            <img class="health_main_img" src="images/health_main_img.png" alt="health main image">
            

            <!--SVG 1-->
            <svg class="x x_1_sec_3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="58.561" height="58.561" viewBox="0 0 58.561 58.561">
                <defs>
                <linearGradient id="linear-gradient" x1="3.65" y1="0.5" x2="1.496" y2="0.93" gradientUnits="objectBoundingBox">
                    <stop offset="0" stop-color="#017dfe"/>
                    <stop offset="1" stop-color="#013f7f"/>
                </linearGradient>
                </defs>
                <g id="Group_82" data-name="Group 82" transform="translate(-1608.758 529.912) rotate(-45)">
                <rect id="Rectangle_33" data-name="Rectangle 33" width="8.282" height="74.536" transform="translate(1508.127 767)" fill="url(#linear-gradient)"/>
                <rect id="Rectangle_34" data-name="Rectangle 34" width="8.282" height="74.536" transform="translate(1549.536 800.127) rotate(90)" fill="url(#linear-gradient)"/>
                </g>
            </svg>

            <!--SVG 2-->
            <svg class="x x_2_sec_3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="58.561" height="58.561" viewBox="0 0 58.561 58.561">
                <defs>
                <linearGradient id="linear-gradient" x1="3.65" y1="0.5" x2="1.496" y2="0.93" gradientUnits="objectBoundingBox">
                    <stop offset="0" stop-color="#017dfe"/>
                    <stop offset="1" stop-color="#013f7f"/>
                </linearGradient>
                </defs>
                <g id="Group_82" data-name="Group 82" transform="translate(-1608.758 529.912) rotate(-45)">
                <rect id="Rectangle_33" data-name="Rectangle 33" width="8.282" height="74.536" transform="translate(1508.127 767)" fill="url(#linear-gradient)"/>
                <rect id="Rectangle_34" data-name="Rectangle 34" width="8.282" height="74.536" transform="translate(1549.536 800.127) rotate(90)" fill="url(#linear-gradient)"/>
                </g>
            </svg>

            <!--SVG 3-->
<!-- 
            <svg class="x x_3_sec_3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="237.319" height="237.319" viewBox="0 0 237.319 237.319">
                <defs>
                <linearGradient id="linear-gradient" x1="3.65" y1="0.5" x2="1.496" y2="0.93" gradientUnits="objectBoundingBox">
                    <stop offset="0" stop-color="#017dfe"/>
                    <stop offset="1" stop-color="#013f7f"/>
                </linearGradient>
                </defs>
                <g id="Group_86" data-name="Group 86" transform="translate(-1718.113 144.79) rotate(-30)">
                <rect id="Rectangle_33" data-name="Rectangle 33" width="28.612" height="257.512" transform="translate(1589.45 767)" fill="url(#linear-gradient)"/>
                <rect id="Rectangle_34" data-name="Rectangle 34" width="28.612" height="257.512" transform="translate(1732.513 881.45) rotate(90)" fill="url(#linear-gradient)"/>
                </g>
            </svg>
             -->

             <svg class="triangle_aesthetic" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="213.865" height="204.145" viewBox="0 0 213.865 204.145">
                <defs>
                  <linearGradient id="linear-gradient" x1="0.811" y1="0.111" x2="1.232" y2="0.374" gradientUnits="objectBoundingBox">
                    <stop offset="0" stop-color="#017dfe"/>
                    <stop offset="1" stop-color="#0062c7"/>
                  </linearGradient>
                  <filter id="Polygon_2" x="0" y="0" width="213.865" height="204.145" filterUnits="userSpaceOnUse">
                    <feOffset dx="2" dy="2" input="SourceAlpha"/>
                    <feGaussianBlur stdDeviation="3" result="blur"/>
                    <feFlood flood-opacity="0.161"/>
                    <feComposite operator="in" in2="blur"/>
                    <feComposite in="SourceGraphic"/>
                  </filter>
                </defs>
                <g id="Group_72" data-name="Group 72" transform="translate(7 7)">
                  <g transform="matrix(1, 0, 0, 1, -7, -7)" filter="url(#Polygon_2)">
                    <g id="Polygon_2-2" data-name="Polygon 2" transform="translate(63.5 7) rotate(25)" fill="url(#linear-gradient)">
                      <path d="M 119.2014923095703 133.1808166503906 L 34.57548904418945 133.1808166503906 C 31.00348854064941 133.1808166503906 27.53896141052246 132.2344665527344 24.55647087097168 130.4440612792969 C 21.738525390625 128.75244140625 19.3662166595459 126.3320999145508 17.69599723815918 123.4446640014648 C 16.02577972412109 120.5572280883789 15.11048889160156 117.2940826416016 15.04907035827637 114.0079574584961 C 14.98408889770508 110.5299377441406 15.89108848571777 107.0549011230469 17.6719970703125 103.9585342407227 L 59.9849967956543 30.39177322387695 C 61.77077865600586 27.28695487976074 64.32623291015625 24.75108337402344 67.37506866455078 23.05830192565918 C 70.25507354736328 21.45926475524902 73.54476165771484 20.61406517028809 76.88848876953125 20.61406517028809 C 80.23220062255859 20.61406517028809 83.52188873291016 21.45926475524902 86.40188598632812 23.05830192565918 C 89.45072174072266 24.75108337402344 92.00617980957031 27.28695487976074 93.79196166992188 30.39177322387695 L 136.1049652099609 103.9585342407227 C 137.8858947753906 107.0549011230469 138.7928924560547 110.5299377441406 138.7279052734375 114.0079345703125 C 138.66650390625 117.2940673828125 137.751220703125 120.5572280883789 136.0809936523438 123.4446487426758 C 134.4107818603516 126.3320846557617 132.0384674072266 128.7524261474609 129.2205200195312 130.4440460205078 C 126.2380142211914 132.2344665527344 122.7735061645508 133.1808166503906 119.2014923095703 133.1808166503906 Z" stroke="none"/>
                      <path d="M 76.88848876953125 21.11404418945312 C 73.62948608398438 21.11404418945312 70.42372894287109 21.93751525878906 67.6177978515625 23.49544525146484 C 64.64839935302734 25.14411926269531 62.15890502929688 27.61502838134766 60.41843414306641 30.64106750488281 L 18.10542297363281 104.2078247070312 C 14.68402099609375 110.1564102172852 14.6927490234375 117.254150390625 18.1287841796875 123.1943054199219 C 21.56483459472656 129.1344451904297 27.71312713623047 132.6808166503906 34.57546997070312 132.6808166503906 L 119.2014923095703 132.6808166503906 C 126.063835144043 132.6808166503906 132.2121276855469 129.1344451904297 135.6481781005859 123.1943054199219 C 139.0842132568359 117.254150390625 139.0929412841797 110.1564102172852 135.6715393066406 104.2078247070312 L 93.35854339599609 30.64106750488281 C 91.61807250976562 27.61502838134766 89.12856292724609 25.14411926269531 86.15916442871094 23.49544525146484 C 83.35323333740234 21.93751525878906 80.14749145507812 21.11404418945312 76.88848876953125 21.11404418945312 M 76.88848114013672 20.11405944824219 C 83.63426208496094 20.11405944824219 90.38004302978516 23.45686340332031 94.22537994384766 30.14248657226562 L 136.5383758544922 103.7092437744141 C 144.2072296142578 117.0425567626953 134.5829010009766 133.6808166503906 119.2014923095703 133.6808166503906 L 34.57546997070312 133.6808166503906 C 19.19404602050781 133.6808166503906 9.569732666015625 117.0425567626953 17.23858642578125 103.7092437744141 L 59.55159759521484 30.14248657226562 C 63.39692687988281 23.45686340332031 70.1427001953125 20.11405944824219 76.88848114013672 20.11405944824219 Z" stroke="none" fill="#00ff6d"/>
                    </g>
                  </g>
                  <g id="Polygon_3" data-name="Polygon 3" transform="translate(70.63 27.392) rotate(25)" fill="#fff">
                    <path d="M 75.18186950683594 99.92746734619141 L 27.82332038879395 99.92746734619141 C 24.83868408203125 99.92746734619141 22.04910850524902 99.18405151367188 19.53209686279297 97.71788787841797 C 17.18228340148926 96.34912109375 15.18061351776123 94.38235473632812 13.7434606552124 92.03022766113281 C 12.30631923675537 89.6781005859375 11.46968460083008 86.99949645996094 11.32401371002197 84.28401947021484 C 11.16797828674316 81.37528991699219 11.77944946289062 78.55384826660156 13.14141368865967 75.89808654785156 L 36.82068252563477 29.72469902038574 C 38.27815628051758 26.88269805908203 40.46072006225586 24.55612182617188 43.13242721557617 22.99649810791016 C 45.64546203613281 21.52948760986328 48.53982543945312 20.75407600402832 51.50259017944336 20.75407600402832 C 54.46536636352539 20.75407600402832 57.35971832275391 21.52948760986328 59.87276840209961 22.99649810791016 C 62.54447174072266 24.55612182617188 64.72703552246094 26.88269805908203 66.18450927734375 29.72469902038574 L 89.86377716064453 75.89808654785156 C 91.22574615478516 78.55386352539062 91.83720397949219 81.37528991699219 91.68116760253906 84.28401947021484 C 91.53549957275391 86.99951171875 90.69887542724609 89.67810821533203 89.26171875 92.03024291992188 C 87.82457733154297 94.38236999511719 85.82289886474609 96.34912109375 83.47309875488281 97.71788787841797 C 80.95608520507812 99.18405151367188 78.16651153564453 99.92746734619141 75.18186950683594 99.92746734619141 Z" stroke="none"/>
                    <path d="M 51.50259017944336 21.25406646728516 C 48.6283073425293 21.25406646728516 45.82112121582031 22.00589752197266 43.38449478149414 23.42829895019531 C 40.79533004760742 24.93974304199219 38.67945098876953 27.19589996337891 37.26558685302734 29.95285034179688 L 13.58631134033203 76.12625122070312 C 12.26522827148438 78.70231628417969 11.67205810546875 81.43795776367188 11.82329559326172 84.25723266601562 C 11.96454620361328 86.89020538330078 12.77606201171875 89.48792266845703 14.17012023925781 91.76954650878906 C 15.56419372558594 94.05115509033203 17.50535583496094 95.95866394042969 19.78375244140625 97.28584289550781 C 22.22336578369141 98.70692443847656 24.92826080322266 99.42745971679688 27.82331848144531 99.42745971679688 L 75.18186950683594 99.42745971679688 C 78.07693481445312 99.42745971679688 80.78182983398438 98.70692443847656 83.22142791748047 97.28584289550781 C 85.49982452392578 95.95867919921875 87.44099426269531 94.05117034912109 88.83506011962891 91.76954650878906 C 90.22911834716797 89.48793029785156 91.0406494140625 86.89021301269531 91.181884765625 84.25723266601562 C 91.33312225341797 81.43797302246094 90.73995208740234 78.70231628417969 89.41886901855469 76.12625122070312 L 65.73960113525391 29.95285034179688 C 64.32572937011719 27.19589996337891 62.2098503112793 24.93974304199219 59.62068557739258 23.42829895019531 C 57.18405914306641 22.00589752197266 54.37687301635742 21.25406646728516 51.50259017944336 21.25406646728516 M 51.50259017944336 20.25406646728516 C 57.48605346679688 20.25406646728516 63.46951293945312 23.33488464355469 66.62940979003906 29.49652099609375 L 90.30868530273438 75.669921875 C 96.11016845703125 86.98253631591797 87.89533996582031 100.4274597167969 75.18186950683594 100.4274597167969 L 27.82331848144531 100.4274597167969 C 15.10984802246094 100.4274597167969 6.895011901855469 86.98253631591797 12.69649505615234 75.669921875 L 36.37577819824219 29.49652099609375 C 39.53567123413086 23.33488464355469 45.51913070678711 20.25406646728516 51.50259017944336 20.25406646728516 Z" stroke="none" fill="#00ff6d"/>
                  </g>
                </g>
              </svg>
              
        </div>

        <div class="mainContent_sec_3">
            <h2>Health <br> Insurance</h2>

            <p>Lorem Ipsum is simply dummy text of the printing
                and typesetting industry. Lorem Ipsum has been
                the industry's standard dummy text ever since the
                1500s. 
                <br><br>
                When an unknown printer took a galley of
                type and scrambled it to make a type specimen
                book. It has survived not only five centuries. 
            </p>

            <a class="car_CTA" href="#">Get A Quote</a>
        </div>
        
        <div class="rect_sec_3 blue_rect_sec_3"></div>
        <div class="rect_sec_3 transparent_rect_sec_3"></div>
        
    </section>

    <!--Section 4-->

    <section id="section_4" >

        <img class="car_img" src="images/mercedes.png">

        <div class="section_4_design">
            <!--SVG 1-->
            <svg class="x x_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="58.561" height="58.561" viewBox="0 0 58.561 58.561">
                <defs>
                <linearGradient id="linear-gradient" x1="3.65" y1="0.5" x2="1.496" y2="0.93" gradientUnits="objectBoundingBox">
                    <stop offset="0" stop-color="#017dfe"/>
                    <stop offset="1" stop-color="#013f7f"/>
                </linearGradient>
                </defs>
                <g id="Group_82" data-name="Group 82" transform="translate(-1608.758 529.912) rotate(-45)">
                <rect id="Rectangle_33" data-name="Rectangle 33" width="8.282" height="74.536" transform="translate(1508.127 767)" fill="url(#linear-gradient)"/>
                <rect id="Rectangle_34" data-name="Rectangle 34" width="8.282" height="74.536" transform="translate(1549.536 800.127) rotate(90)" fill="url(#linear-gradient)"/>
                </g>
            </svg>

            <!--SVG 2-->
            <svg class="x x_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="58.561" height="58.561" viewBox="0 0 58.561 58.561">
                <defs>
                <linearGradient id="linear-gradient" x1="3.65" y1="0.5" x2="1.496" y2="0.93" gradientUnits="objectBoundingBox">
                    <stop offset="0" stop-color="#017dfe"/>
                    <stop offset="1" stop-color="#013f7f"/>
                </linearGradient>
                </defs>
                <g id="Group_82" data-name="Group 82" transform="translate(-1608.758 529.912) rotate(-45)">
                <rect id="Rectangle_33" data-name="Rectangle 33" width="8.282" height="74.536" transform="translate(1508.127 767)" fill="url(#linear-gradient)"/>
                <rect id="Rectangle_34" data-name="Rectangle 34" width="8.282" height="74.536" transform="translate(1549.536 800.127) rotate(90)" fill="url(#linear-gradient)"/>
                </g>
            </svg>

            <svg class="x x_3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="237.319" height="237.319" viewBox="0 0 237.319 237.319">
                <defs>
                <linearGradient id="linear-gradient" x1="3.65" y1="0.5" x2="1.496" y2="0.93" gradientUnits="objectBoundingBox">
                    <stop offset="0" stop-color="#017dfe"/>
                    <stop offset="1" stop-color="#013f7f"/>
                </linearGradient>
                </defs>
                <g id="Group_86" data-name="Group 86" transform="translate(-1718.113 144.79) rotate(-30)">
                <rect id="Rectangle_33" data-name="Rectangle 33" width="28.612" height="257.512" transform="translate(1589.45 767)" fill="url(#linear-gradient)"/>
                <rect id="Rectangle_34" data-name="Rectangle 34" width="28.612" height="257.512" transform="translate(1732.513 881.45) rotate(90)" fill="url(#linear-gradient)"/>
                </g>
            </svg>
            
        </div>

        <div class="mainContent">
            <h2>Car Insurance</h2>

            <p>Lorem Ipsum is simply dummy text of the printing
                and typesetting industry. Lorem Ipsum has been
                the industry's standard dummy text ever since the
                1500s. 
                <br><br>
                When an unknown printer took a galley of
                type and scrambled it to make a type specimen
                book. It has survived not only five centuries. 
            </p>

            <a class="car_CTA" href="#">Get A Quote</a>
        </div>
        
        <div class="rect blue_rect"></div>
        <div class="rect transparent_rect"></div>
        
    </section>


    </body>
</html>